{% extends 'main/index.html' %}

{% block title %}About{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h1>DjankyMiniblog</h1>
      <p class="lead">
        A free-for-everyone miniblog where you can post random thoughts.
      </p>
      <p>
        A project I made as a way to practice; DjankyMiniblog is a place where people can type anything (upto 240 characters long) and post it. Users have to be authenticated, and their profiles are linked to their posts.
      </p>
    </div>
  </div>
{% endblock content %}