{% extends 'main/index.html' %}

{% load tag_alerts %}

{% block title %}Feed{% endblock title %}

{% block alerts %}
  <div class="row justify-content-center" id="alerts">
    <div class="col-md-6 col-12">
      {% if request.GET %}
        {% alert request.GET %}
      {% elif form.errors %}
        <div class="m-0 alert alert-danger shadow-sm alert-dismissible fade show" role="alert">
          {{ form.errors }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock alerts %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 px-3">
      {% if user.is_authenticated %}
        <!-- If the user's logged in, we have the post form -->
        <div class="card my-3">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <strong>Write</strong>
              <span style="font-size: 0.75rem;">Last Entry: 10:00 | May 31st, 2021 (UTC)</span>
            </div>
          </div>
          <div class="container py-3 px-3">
            <form method="post">
              {% csrf_token %}
              <div class="form-floating mb-3">
                {{ form.text }}
                <label for="{{ form.text.id_for_label }}">What's on your mind?</label>
              </div>
              <button type="submit" class="btn btn-primary" name="post">Post</button>
            </form>
          </div>
        </div>
      {% else %}
        <!-- Otherwise we have the login form -->
        <div class="card my-3">
          <div class="card-header">
            <strong>Login</strong>
          </div>
          <div class="container py-3 px-3">
            <form method="post"> <!-- action="/login/" -->
              {% csrf_token %}
              {{ form.errors }}
              <div class="form-floating mb-3">
                {{ form.username }}
                <label for="{{ form.username.id_for_label }}">Username</label>
              </div>
              <div class="form-floating mb-3">
                {{ form.password }}
                <label for="{{ form.password.id_for_label }}">Password</label>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <a href="/register">Register &rarr;</a>
                <button type="submit" class="btn btn-primary" name="login">Login</button>
              </div>
            </form>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <hr style="width: 40%;" class="mx-auto">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      {% for post in all_posts %}
        <div class="card my-3">
            <div class="card-header">
              <div class="d-flex justify-content-between align-items-center">
                <strong class="post-author">Author</strong>
                <span style="font-size: 0.75rem;" class="post-time">{{ post.createdAt|date:"H:i | jS F, Y" }} (UTC)</span>
              </div>
            </div>
          <div class="card-body">
            <p class="card-text">{{ post.text }}</p>
            <div class="text-end"><button class="btn btn-danger like">Like</button></div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}