{% extends 'main/index.html' %}

{% load widget_tweaks %}
{% load tag_alerts %}
{% load tag_single_post %}

{% block title %}
  {% if user.is_authenticated %}
    Feed
  {% else %}
    Login
  {% endif %}
{% endblock title %}

{% block alerts %}
  <div class="row justify-content-center" id="alerts">
    <div class="col-md-6 col-12">
      {% if request.GET %}
        {% alert request.GET %}
      {% elif form.errors %}
        <div class="m-0 alert alert-danger shadow-sm alert-dismissible fade show" role="alert">
          {{ form.errors }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock alerts %}

{% block content %}
  <div class="row justify-content-center new-post">
    <div class="col-12 col-lg-8 px-3">
      {% if user.is_authenticated %}
        {# If the user's logged in, we render the card, but check time_to_post later #}
        <div class="card my-3">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center new-post-current-user">
              <strong><a href="/@{{ user.username }}">&nbsp;@{{ user.username }}</a></strong>
              <span style="font-size: 0.75rem;">
                Last Post: {{ user.profile.last_post|date:"h:i A | jS F, Y (e)" }}
              </span>
            </div>
          </div>
          <div class="card-body">
            {% if time_to_next_post == "no_wait_needed" %}
              {# If they're logged in and allowed to post again #}
              <form method="post">
                {% csrf_token %}
                {% for field in form %}
                  <div class="mb-3">
                    {% render_field field class="form-control" %}
                    {% if field.help_text %}
                      <div class="help-text text-secondary mt-2 mb-4">{{ field.help_text }}</div>
                    {% endif %}
                  </div>
                {% endfor %}
                <div class="d-grid">
                  <button type="submit" class="btn btn-outline-primary btn-lg" name="post">Post</button>
                </div>
              </form>
            {% else %} {# Time to post #}
              <div class="wait-to-post text-center py-4">
                <h1 class="display-1" id="post-countdown">{{ time_to_next_post }}</h1>
                <h2>to your next story.</h2>
              </div>
            {% endif %} {# Time to post #}
          </div>
          <div class="card-footer text-end py-3">
            <figure class="mb-0">
              <blockquote class="blockquote">
                <p style="font-size: 0.9rem;">"{{ quote.quote }}"</p>
              </blockquote>
              <figcaption class="blockquote-footer mb-0" style="font-size: 0.8rem;">
                <cite title="Quotee">{{ quote.author }}</cite>
              </figcaption>
            </figure>
          </div>
        </div>
      {% else %} {# User Auth #}
        {# If user not logged in - Login form #}
        <div class="card my-3">
          <div class="card-header">
            <strong>Login</strong>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {% for field in form %}
                <div class="form-floating mb-3">
                  {% render_field field class="form-control" placeholder=field.label.tag %}
                  <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                  {% if field.help_text %}
                    <div class="help-text text-secondary mt-2 mb-4">{{ field.help_text }}</div>
                  {% endif %}
                </div>
              {% endfor %}
              <div class="d-flex justify-content-between align-items-center">
                <a href="/register">Register &rarr;</a>
                <button type="submit" class="btn btn-primary" name="login">Login</button>
              </div>
            </form>
          </div>
        </div>
      {% endif %} {# User Auth #}
    </div>
  </div>
  <hr style="width: 40%;" class="mx-auto">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="infinite-container mb-3">

        {% for post in page_obj %}
          {% single_post post user %}
        {% endfor %}

      </div>

      {% if page_obj.has_next and user.is_authenticated %}
        <a href="?page={{ page_obj.next_page_number }}" class="infinite-more-link"></a>
      {% endif %}

      <div class="infinite-loader mt-5 text-center" style="display: none;">
        <div class="spinner-border" role="status" aria-hidden="true"></div>
      </div>

      {% if not user.is_authenticated %}
        <div class="row justify-content-center mt-3">
          <div class="col-12 col-lg-6 text-center">
            <div class="alert alert-danger">
              <strong><a class="alert-link" href="#">Log in</a> to see more posts.</strong>
            </div>
          </div>
        </div>
      {% endif %}

    </div>
  </div>

  {% if time_to_next_post %}
    <script>
      jQuery(document).ready(function() {
        let currentTime = new Date();
        let countdownDate = new Date(currentTime.getTime() + {{ javascript.seconds_to_next_post }} * 1000);
        jQuery('#post-countdown').countdown(countdownDate, function(event) {
          jQuery(this).text(
            event.strftime('%H:%M:%S')
          );
        });
      }); // document.ready()
    </script>
  {% endif %}
{% endblock content %}