{% load tag_alerts %}

<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base{% endblock title %} | DjankyMiniblog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Waypoints -->
    <script src="https://gitcdn.link/repo/imakewebthings/waypoints/master/lib/jquery.waypoints.min.js"></script>
    <!-- Waypoints Infinite -->
    <script src="https://gitcdn.link/repo/imakewebthings/waypoints/master/lib/shortcuts/infinite.min.js"></script>
    <style type="text/css">
      .navbar {
        z-index: 2;
      }

      #alerts {
        position: fixed;
        left: 0;
        right: 0;
        top: 3.5rem;
        z-index: 1000;
      }

      .help-text {
        font-size: 0.75rem;
      }

      .help-text ul {
        padding-left: 0.9rem;
      }

      .post-author a {
        text-decoration: none;
        color: inherit;
      }
    </style>
    {% if form is not None %}
      {{ form.media }}
    {% endif %}
  </head>
  <body class="min-vh-100 d-flex flex-column h-100">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark px-5 py-4 mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">DjankyMiniblog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0 ms-auto align-items-center">
            <li class="nav-item">
              <a class="nav-link {% if navactive == 'home' %}active{% endif %}" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if navactive == 'about' %}active{% endif %}" aria-current="page" href="/about">About</a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img class="nav-avatar rounded-circle" style="max-height: 2rem;" src="{% if requested_user.profile.avatar %}
                              {{ requested_user.profile.avatar_link }}
                            {% else %}
                              https://picsum.photos/50
                            {% endif %}" alt="Profile photo">
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Manage</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
                </ul>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Login</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container pb-4">

      {% block alerts %}
      {% endblock alerts %}

      {% block content %}
      {% endblock content %}

    </div>
    <footer class="footer mt-auto py-3 bg-dark border-top border-3">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-12 text-muted small text-start">
            © Nickunj Chopra<br>
            <a class="link-secondary" href="https://nickunjchopra.com/" target="_blank">(https://nickunjchopra.com/)</a>
          </div>
          <div class="col-sm-6 col-12 text-muted small text-end">
            <em>Copy karo magar pyaar se.</em><br>
            <em>(Attributions Required)</em>
          </div>
        </div>
      </div>
    </footer>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <!-- Custom Scripts -->
    <script>
      jQuery(document).ready(function() {
        // alert auto-close
        setTimeout(function() { jQuery('.alert .btn-close').click(); }, 5000)

        // infinite scrolling

        // Set event handlers on elements visible by default
        // then the event handlers are set again on each scroll/load
        jQuery('.infinite-container').on('click', '.post .like-button', ajaxLike);
        jQuery('.infinite-container').on('click', '.post .unlike-button', ajaxUnlike);

        var infinite = new Waypoint.Infinite({
          element: jQuery('.infinite-container'),
          onBeforePageLoad: function() {
            jQuery('.infinite-loader').show();
          },
          onAfterPageLoad: function($items) {
            jQuery('.infinite-loader').hide();
          }
        });

        function ajaxLike(event) {
          event.preventDefault();
          let $this = jQuery(this);
          let postId = $this.attr('data-post-id');
          jQuery.ajax(('/like?id=' + postId), {
            success: function(result) {
              result = result.result
              if (parseInt(result) > 0) {
                // Success
                $this.prev().children().first().text(result); // this is the ".like-count" span tag
                let unlikeButton = '<button data-post-id="' + postId + '" data-post-target="unlike" target="_blank" class="btn btn-danger btn-sm unlike-button">Unlike</button>';
                $this.replaceWith(unlikeButton);

              } else if (result === "Already liked.") {
                let originalText = $this.text();
                $this.text('Already liked!');
                window.setTimeout(function() {
                  $this.text(originalText);
                }, 4000);
              } else {
                let originalText = $this.text();
                $this.text('Error. :(');
                window.setTimeout(function() {
                  $this.text(originalText);
                }, 4000);
              }
            },
            error: function(result) {
              console.log('An error occured.' + result);
            }
          });
        } // ajaxLike() end

        function ajaxUnlike(event) {
          event.preventDefault();
          let $this = jQuery(this);
          let postId = $this.attr('data-post-id');
          jQuery.ajax(('/unlike?id=' + postId), {
            success: function(result) {
              result = result.result
              if (parseInt(result) >= 0) {
                $this.prev().children().first().text(result); // this is the ".like-count" span tag
                let likeButton = '<button data-post-id="' + postId + '" class="btn btn-success btn-sm like-button">Like</button>';
                $this.replaceWith(likeButton);
              } else if (result === "Not liked.") {
                let originalText = $this.text();
                $this.text('Not liked!');
                window.setTimeout(function() {
                  $this.text(originalText);
                }, 4000);
              } else {
                let originalText = $this.text();
                $this.text('Error. :(');
                window.setTimeout(function() {
                  $this.text(originalText);
                }, 4000);
              }
            },
            error: function(result) {
              console.log('An error occured.' + result);
            }
          });
        } // ajaxUnlike() end

      }); // document.ready()
    </script>
  </body>
</html>