<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base{% endblock title %} | DjankyMiniblog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <body class="min-vh-100 d-flex flex-column h-100">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark px-5 py-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">DjankyMiniblog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Manage</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
              </ul>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <div class="container mt-3">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 px-3">
          {% if request.GET.err %}
            <div class="alert alert-error alert-dismissible fade show" role="alert">
              {{ request.GET.err }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}
          {% if request.GET.msg %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ request.GET.msg }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}
        </div>
      </div>

      {% block content %}
      {% endblock content %}
    </div>
    <footer class="footer mt-auto py-3 bg-dark border-top border-3 border-secondary">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-12 text-muted small text-start">
            © Nickunj Chopra<br>
            <a class="link-secondary" href="https://nickunjchopra.com/" target="_blank">(https://nickunjchopra.com/)</a>
          </div>
          <div class="col-sm-6 col-12 text-muted small text-end">
            <em>Copy karo magar pyaar se.</em><br>
            <em>(Attributions Required)</em>
          </div>
        </div>
      </div>
    </footer>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>