{% extends 'main/index.html' %}

{% load widget_tweaks %}
{% load tag_alerts %}
{% load tag_single_post %}

{% block title %}
  @{{ requested_user.username }}
{% endblock title %}

{% block alerts %}
  {% if messages %}
    {% for message in messages %}
      {% alert message %}
    {% endfor %}
  {% endif %}
{% endblock alerts %}

{% block content %}

  <div class="row justify-content-center">
    <div class="col-12 col-lg-3 col-md-4 px-3"> <!-- User Card -->
      <div class="user-profile">
        <div class="card">
          <div class="user-avatar text-center position-relative d-flex align-items-center">
            <img id="user-avatar" class="img-fluid" src="
            {% if requested_user.profile.avatar %}
              {{ requested_user.profile.avatar }}
            {% else %}
              https://picsum.photos/251
            {% endif %}" class="card-img-top" alt="@{{ requested_user.username }}'s avatar">
            {% if avatarForm %}
              <form method="post" enctype="multipart/form-data" id="avatar-update-form" style="display: none;" class="p-3 my-5">
                {% csrf_token %}
                <input type="hidden" name="avatar-update" value="{{ user.username }}">
                {% for field in avatarForm %}
                  {% if avatarForm.errors %}
                    {% if field.errors %}
                      {% for error in field.errors %}
                        <span class="text-danger my-2" style="font-size: 0.7rem;">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  {% endif %}
                  {% render_field field class="form-control form-control-sm mb-2" onchange="avatarValidation()" id="avatar-image-upload" %}
                {% endfor %}
                <span class="avatar-size-error small text-danger my-2" style="display: none; font-size: 0.7rem;">Max filesize is 1 MB.</span>
                <span class="avatar-format-error small text-danger my-2" style="display: none; font-size: 0.7rem;">Only JPG, JPEG, and PNG files.</span>
                <div class="d-flex">
                  <button id="avatar-update-submit" class="btn btn-outline-primary btn-sm flex-fill mx-1" style="font-size: 0.7rem;" type="submit">
                    Update
                  </button>
                  <button id="avatar-update-form-hide" class="btn btn-outline-danger btn-sm flex-fill mx-1" style="font-size: 0.7rem;" type="button">
                    Cancel
                  </button>
                </div>
              </form>
            {% endif %}
            {% if requested_user == user %}
              <button id="avatar-update-form-show" class="btn btn-light btn-sm shadow-sm position-absolute" style="font-size: 0.7rem;">
                Edit
              </button>
            {% endif %}
          </div>
          <div class="card-body">
            <p class="pb-3 border-bottom">
              <strong>@{{ requested_user.username }}</strong>
            </p>
            <div class="card-text user-bio pb-2">
              <p id="bio-text">{{ requested_user.profile.bio|safe }}</p>
              {% if requested_user == user %}
                <div class="d-grid">
                  <button id="bio-update-form-show" class="btn btn-outline-secondary btn-sm" style="font-size: 0.7rem;">
                    Change Bio
                  </button>
                </div>
                {% if form %}
                  <form method="post" id="bio-update-form" style="display: none;">
                    {% csrf_token %}
                    <input type="hidden" name="bio-update" value="{{ user.username }}">
                    {% if form.errors %}
                      {% for field in form %}
                        {% if field.errors %}
                          {% for error in field.errors %}
                            <span class="text-danger my-2" style="font-size: 0.7rem;">{{ error }}</span>
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                    {% render_field form.bio class="form-control mb-2" placeholder=requested_user.profile.bio rows='5' %}
                    <div class="d-flex">
                      <button id="bio-update-submit" class="btn btn-outline-primary btn-sm flex-fill mx-1" style="font-size: 0.7rem;" type="submit">
                        Update
                      </button>
                      <button id="bio-update-form-hide" class="btn btn-outline-danger btn-sm flex-fill mx-1" style="font-size: 0.7rem;" type="button">
                        Cancel
                      </button>
                    </div>
                  </form>
                {% endif %}
              {% endif %}
            </div>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-between align-items-center">
              <span style="font-size: 0.6rem;">
                Joined: {{ requested_user.profile.createdAt|date:"jS F, Y (e)" }}
              </span>
              <span style="font-size: 0.6rem;">
                {{ num_posts }} posts
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- Authored / Liked Tabbed Nav -->
      <div class="user-tabs my-3">
        <ul class="nav flex-column nav-pills nav-fill">
          <li class="nav-item">
            <a href="/@{{ requested_user.username }}" class="nav-link {% if active == 'authored' %}active{% endif %}">Authored</a>
          </li>
          <li class="nav-item">
            <a href="/@{{ requested_user.username }}/liked" class="nav-link {% if active == 'liked' %}active{% endif %}">Liked</a>
          </li>
        </ul>
      </div>

    </div>


    <div class="col-12 col-md-8 px-3"> <!-- User Posts -->
      <div class="infinite-container mb-3">
        {% if page_obj %}
          {% for post in page_obj %}
            {% single_post post user %}
          {% endfor %}
        {% else %}
          <div class="alert alert-info text-center">
            <strong>Nothing here, actually.</strong>
          </div>
        {% endif %}
      </div>

      {% if page_obj.has_next and user.is_authenticated %}
        <a href="?page={{ page_obj.next_page_number }}" class="infinite-more-link"></a>
      {% endif %}

      <div class="infinite-loader mt-5 text-center" style="display: none;">
        <div class="spinner-border" role="status" aria-hidden="true"></div>
      </div>

      {% if not user.is_authenticated %}
        <div class="row justify-content-center mt-3">
          <div class="col-12 col-lg-6 text-center">
            <div class="alert alert-danger">
              <strong><a class="alert-link" href="/">Log in</a> to see more by @{{ requested_user.username }}.</strong>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

{% endblock content %}