{% extends 'main/index.html' %}

{% load widget_tweaks %}
{% load tag_alerts %}
{% load tag_single_post %}

{% block title %}
  @{{ requested_user.username }}
{% endblock title %}

{% block alerts %}
  <div class="row justify-content-center" id="alerts">
    <div class="col-md-6 col-12">
      {% if request.GET %}
        {% alert request.GET %}
      {% elif form.errors %}
        <div class="m-0 alert alert-danger shadow-sm alert-dismissible fade show" role="alert">
          {{ form.errors }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock alerts %}

{% block content %}

  <div class="row justify-content-center">
    <div class="col-12 col-lg-3 px-3"> <!-- User Card -->
      <div class="user-profile">

        <div class="card">
          <img class="profile-avatar" src="
          {% if requested_user.profile.avatar %}
            {{ requested_user.profile.avatar_link }}
          {% else %}
            https://picsum.photos/251
          {% endif %}" class="card-img-top" alt="Profile photo">
          <div class="card-body">
            <p class="pb-3 border-bottom">
              <strong>@{{ requested_user.username }}</strong>
            </p>
            <p class="card-text user-bio pb-3">
              {% if request_user.bio %}
                {{ requested_user.bio }}
              {% else %}
                Very creative with their posts, but they haven't set a bio yet.
              {% endif %}
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <strong>Social:</strong>
              <a href="#" target="_blank">@social.link</a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <strong>Social:</strong>
              <a href="#" target="_blank">@social.link</a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <strong>Social:</strong>
              <a href="#" target="_blank">@social.link</a>
            </li>
          </ul>
          <div class="card-footer">
            <div class="d-flex justify-content-between align-items-center">
              <span style="font-size: 0.6rem;">
                Joined: {{ requested_user.profile.createdAt|date:"jS F, Y" }} (UTC)
              </span>
              <span style="font-size: 0.6rem;">
                1000 posts
              </span>
            </div>
          </div>
        </div>

        <div class="nav flex-column nav-pills mt-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active" id="v-pills-authored-tab" data-bs-toggle="pill" data-bs-target="#v-pills-authored" type="button" role="tab" aria-controls="v-pills-authored" aria-selected="true">Authored</button>
          <button class="nav-link" id="v-pills-liked-tab" data-bs-toggle="pill" data-bs-target="#v-pills-liked" type="button" role="tab" aria-controls="v-pills-liked" aria-selected="false">Liked</button>
        </div>

      </div>
    </div>


    <div class="col-12 col-lg-8 px-3"> <!-- User Posts -->
      <div class="d-flex align-items-start">
        <div class="tab-content" id="v-pills-tabContent">
          <!-- Authored Posts -->
          <div class="tab-pane fade show active authored-posts" id="v-pills-authored"
            role="tabpanel" aria-labelledby="v-pills-authored-tab">
            <div class="infinite-container mb-3">
              {% if authored_page_obj %}
                {% for post in authored_page_obj %}
                  {% single_post post user %}
                {% endfor %}
              {% endif %}
            </div>

            {% if authored_page_obj.has_next and user.is_authenticated %}
              <a href="?page={{ authored_page_obj.next_page_number }}" class="infinite-more-link"></a>
            {% endif %}
          </div> <!-- Authored Posts -->

          <!-- Liked Posts -->
          <div class="tab-pane fade liked-posts" id="v-pills-liked"
            role="tabpanel" aria-labelledby="v-pills-liked-tab">
              <div class="infinite-container mb-3">
                {% if liked_page_obj %}
                  {% for post in liked_page_obj %}
                    {% single_post post user %}
                  {% endfor %}
                {% endif %}
              </div>

              {% if liked_page_obj.has_next and user.is_authenticated %}
                <a href="?page={{ liked_page_obj.next_page_number }}" class="infinite-more-link"></a>
              {% endif %}
            </div> <!-- Liked Posts -->
        </div>
      </div>

      <div class="infinite-loader mt-5 text-center" style="display: none;">
        <div class="spinner-border" role="status" aria-hidden="true"></div>
      </div>

      {% if not user.is_authenticated %}
        <div class="row justify-content-center mt-5">
          <div class="col-12 col-lg-6 text-center">
            <div class="alert alert-danger">
              <strong><a class="alert-link" href="/">Log in</a> to see more by @{{ requested_user.username }}.</strong>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

{% endblock content %}