{% load tag_single_post %}

<div class="infinite-item">
  <div class="card post mb-3">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <strong class="post-author">
          <a href="/@{{ post.author.username }}"><img class="nav-avatar rounded-circle" style="max-height: 2rem;" src="{% if post.author.profile.avatar %}
            {{ post.author.profile.avatar_link }}
          {% else %}
            https://picsum.photos/50
          {% endif %}" alt="@{{post.author.username}}'s avatar"></a>
          {% if post.author %}
            <a href="/@{{ post.author.username }}">&nbsp;@{{ post.author.username }}</a>
          {% else %}
            &nbsp;Unknown Author
          {% endif %}
        </strong>
        <span style="font-size: 0.75rem;" class="post-time">{{ post.createdAt|date:"h:i A | jS F, Y (e)" }}</span>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">{{ post.text|safe }}</p>
    </div>
    <div class="card-footer text-muted">
      <div class="d-flex justify-content-between align-items-center">
        <span class="likes" style="font-size: 0.75rem;"><span class="like-count">{{ post.likes }}</span> upvotes</span>
        {% if user.is_authenticated %}
          {% if post not in user.profile.liked_posts.all %}
            <button data-post-id="{{ post.id }}" class="btn btn-outline-success btn-sm like-button">
              Like
            </button>
          {% else %}
            <button data-post-id="{{ post.id }}" class="btn btn-outline-danger btn-sm unlike-button">
              Unlike
            </button>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>